page-cdt {
  ion-card > ion-item:first-of-type {
    margin-bottom: 10px;
  }

  .sepmois {
    text-align: center;
    font-weight: bold;
  }

  /*ion-item-sliding > ion-item,
  ion-item-sliding > ion-item > div {
    margin: 0 !important;
    padding: 0 !important;
  }*/

  ion-item-sliding.done ion-card * {
    color: grey;
    text-decoration: line-through;
  }

  ion-item-sliding.done .matierecolor {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .files {
    display: block;
  }

  .file {
    font-size: 0.9em;
    display: inline-block;
    background-color: whitesmoke;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  .file a {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  .file .auteur {
    font-size: 0.8em;
    opacity: 0.7;
  }

  .flag {
    font-size: 1.5em;
  }

  div.devoir-header {
    border-bottom: 1px solid #DDD;
  }

  div.devoir-header > ion-item {
    background-color: rgba(255,255,255,0.8)
  }

  ion-item-sliding > ion-item > * {
    border: none !important;
  }

  .invitation {
    border-bottom: 1px solid grey;
  }

  .no-border > div {
    border-bottom: none !important
  }

  .vertical-align-content > *
  {
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
  }

  #linkparam {
    position: absolute;
    right: 10px;
  }

  .titlefont {
    font-family: 'Amatica SC',sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    position: relative;
    top: -2px;
  }
}
